<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456295585489-uf4bjrguns0u77n4vk8sm4s7uph736l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456295585489-uf4bjrguns0u77n4vk8sm4s7uph736l0</string>
	<key>API_KEY</key>
	<string>AIzaSyB831pew0jb8KS3ETdn0HYxXULs6VTbg3E</string>
	<key>GCM_SENDER_ID</key>
	<string>456295585489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>junior.Lava-Jato</string>
	<key>PROJECT_ID</key>
	<string>lavajato-b1d24</string>
	<key>STORAGE_BUCKET</key>
	<string>lavajato-b1d24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456295585489:ios:6f85b7f551fd502fb617f0</string>
</dict>
</plist>