<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152072972170-kofmt4judceejf77qocrujucbs98s2m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152072972170-kofmt4judceejf77qocrujucbs98s2m4</string>
	<key>API_KEY</key>
	<string>AIzaSyDMcQ72jUZJymxhf1Un1mZgIVNd2qa4Xl4</string>
	<key>GCM_SENDER_ID</key>
	<string>152072972170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>junior.Lava-Jato</string>
	<key>PROJECT_ID</key>
	<string>projeto-lava-jato-90f9b</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-lava-jato-90f9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152072972170:ios:f9c79839c26f8557ac4a73</string>
</dict>
</plist>